##########################
#Linux Specific GitIgnore#
##########################
.*
!.gitignore
*~
*.sw[a-p]
 
# KDE
.directory
 
############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.pyc
*.jasper
*.log*
 
# CDT-specific
.cproject
*.*~
*.md~
